.conteudo {
    background-color: #C0C0C0;
    border: 3px solid black;
    border-radius: 5px;
    width: 70%;
    height: 500px;
    padding: 30px;
}

.growdev {
    color: black;
}    
    
.growdev:hover {
    background-color: #808080;
    border: #808080;
    border-radius: 5px;
    padding: 5px;
    transform: scale(2.5);
    transition: all 0.5s;
}

.lista {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 35px;
    text-align: left;
}

.itens-lista {
    padding: 20px;
}

.img-lista {
    width: 54px;
    margin-bottom: -15px;
}