.conteudo {
    padding: 15px;
}

.nome {
    font-size: 50px;
    margin-bottom: -15px;
}

.email {
    color: black;
}

.email:hover {
    background-color: #808080;
    border: #808080;
    border-radius: 5px;
    padding: 5px;
    transform: scale(2.5);
    transition: 0.2s;
}

.icons {
    display: flex;
    flex-direction: row;
    column-gap: 45px;
}

.icons2:hover {
    transform: scale(1.5);
    transition: all 0.5s;
}

