div {
    background-color: #C0C0C0;
    border: 3px solid black;
    border-radius: 5px;
    width: 70%;
    height: 500px;
}

.lista {
    text-align: left;
    list-style-position: inside;
}

.itens-list {
    margin-top: 15px;
    padding: 15px;
}